.swiper-slide {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

.swiper-button {
    color: var(--warmest-orange)!important
}

.swiper {
    justify-content: center!important;
}

.swiper-pagination {
    display: flex;
    position: relative!important;
    border-radius: 4px!important;
    padding: 3px!important;
    background-color: rgba(0, 0, 0, 0.4)!important;
    width: fit-content!important;
    justify-content: center;
}

.swiper-pagination-bullet {
    background-color: #fff!important;
    opacity: 1!important;
}

.swiper-pagination-bullet-active {
    background-color: var(--warmest-orange)!important;
}

.swiper-wrapper {
    align-items: center!important;
}

.my-swiper-container {
    display: flex;
    width: 100%;
    padding: 10px 50px;
  }

  .my-swiper {
    padding: 10px 50px;
    background-color: #E2D5C6;
    border-radius: 15px;
    overflow: hidden;
  }

  .swiper-slide-img-container {
    overflow: hidden;
    border-radius: 25px;
    border: 2px solid var(--warmest-black);
  }

  @media screen and (max-width: 993px) {
    .my-swiper-container {
      padding: 10px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
  }