.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    gap: 10px;
  }

  .title-text {
    text-align: left;
    font-size: var(--warmest-medium-font-size);
  }

  @media screen and (max-width: 993px) {
    .cards-container {
      align-items: center;
    }
    .title-container {
      align-items: center;
      width: 100%;
    }
  }