:root {
    --warmest-medium-margin-top: 30px;
    --warmest-orange: #FF8A00;
}

body {
    font-size: var(--warmest-medium-font-size);
}

.main-page-block {
    margin-top: var(--warmest-medium-margin-top);
}

.glassmorphizm {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px) contrast(60%);
    -webkit-backdrop-filter: blur(4px) contrast(60%);
}

#navbarNavDropdown {
    font-size: var(--warmest-medium-font-size);
}

.title {
    display: flex;
    width: max-content;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    font-size: var(--warmest-large-font-size);
}

.line {
    background-color: var(--warmest-orange);
    border-radius: 5px;
    padding: 5px;
    width: 100px;
}

.ico {
    color: #fff;
}

.warmest-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    width: 100%;
}

@media screen and (max-width: 993px) {
    .line {
        padding: 3px !important;
        width: 65px !important;
    }

}